{% extends 'base.html' %}
{% block navigation %}
  <li><a href="/">主页</a></li>
  <li><a href="{{ url_for('gallery') }}">画廊</a></li>
  <li><a href="{{ url_for('details') }}">实现细节</a></li>
  <li style="float:right"><a class="active" href="{{ url_for('about') }}">关于我</a></li>
{% endblock navigation %}
{% block body %}
  <h2>作者: 杨天伦<a href="https://twitter.com/qzlzdy_yang?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"
    data-size="large"
    data-show-count="false">关注我</a></h2>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <h2>大学: <a href="https://www.hdu.edu.cn">杭州电子科技大学</a></h2>
  <h2>学院: 计算机学院</h2>
  <h2>专业: 计算机科学与技术</h2>
  <h2>邮箱: yangtl@hdu.edu.cn</h2>
  <h2>源代码: <a href="https://github.com/qzlzdy/Anivatar">Anivatar</a></h2>
{% endblock body %}