{% extends 'base.html' %}
{% block body %}
  <h2>Author: Tianlun Yang<a href="https://twitter.com/qzlzdy_yang?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"
    data-size="large"
    data-show-count="false">Follow Me</a></h2>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <h2>University: <a href="https://www.hdu.edu.cn">Hangzhou Dianzi University</a></h2>
  <h2>Email: yangtl@hdu.edu.cn</h2>
  <h2>Source Code: <a href="https://github.com/qzlzdy/Anivatar">Anivatar</a></h2>
{% endblock body %}