<!DOCTYPE html>
<head>
  <meta name="application-name" content="Anivatar"/>
  <meta name="author" content="Qzlzdy"/>
  <meta name="description" content="Generative Adversarial Network Based Anime Avatar Generator"/>
  <meta name="keywords" content="GAN, anime, avatar, generate, cartoon, StyleGAN"/>
  <title>Anivatar - Generative Adversarial Network Based Anime Avatar Generator</title>
  <link ref="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
  {% block body %}{% endblock body %}
</body>