{% extends 'base.html' %}
{% block navigation %}
  <li><a href="/">主页</a></li>
  <li><a href="{{ url_for('gallery') }}">画廊</a></li>
  <li><a class="active" href="{{ url_for('details') }}">实现细节</a></li>
  <li style="float:right"><a href="{{ url_for('about') }}">关于我</a></li>
{% endblock navigation %}
{% block body %}
  <h2>数据集: <a href="https://www.gwern.net/Danbooru2020">Danbooru2020</a></h2>
  <h2>标注器: <a href="https://github.com/RF5/danbooru-pretrained">RF5/danbooru-pretrained</a></h2>
  <h2>裁剪器: <a href="http://ultraist.hatenablog.com/entry/20110718/1310965532">lbpcascade_animeface</a></h2>
  <h2>原模型: <a href="https://github.com/PieraRiccio/stylegan2-pytorch">PieraRiccio/stylegan2-pytorch</a></h2>
  <h2>超分辨率模型: <a href="https://github.com/yu45020/Waifu2x">yu45020/Waifu2x</a></h2>
  <h2>Web框架: <a href="https://palletsprojects.com/p/flask/">Flask</a></h2>
  <h2>机器学习框架: <a href="https://pytorch.org/">PyTorch</a></h2>
{% endblock body %}