{% extends 'base.html' %}
{% block body %}
  <h2>Database: <a href="https://www.gwern.net/Danbooru2020">Danbooru2020</a></h2>
  <h2>Tagger: <a href="https://github.com/RF5/danbooru-pretrained">RF5/danbooru-pretrained</a></h2>
  <h2>Cropper: <a href="http://ultraist.hatenablog.com/entry/20110718/1310965532">lbpcascade_animeface</a></h2>
  <h2>Original Model: <a href="https://github.com/PieraRiccio/stylegan2-pytorch">PieraRiccio/stylegan2-pytorch</a></h2>
  <h2>Super Resolution Model: <a href="https://github.com/yu45020/Waifu2x">yu45020/Waifu2x</a></h2>
  <h2>Web Framework: <a href="https://palletsprojects.com/p/flask/">Flask</a></h2>
  <h2>Machine Learning Framework: <a href="https://pytorch.org/">PyTorch</a></h2>
{% endblock body %}