{% extends 'base.html' %}
{% block body %}
  <h1>Edit generated avatar</h1>
  <p>You can edit the avatar here. When you completed, click the button below</p>
  <img src="{{ avatar_path }}" width="512" height="512"/>
  <form method="post" action="{{ url_for('edit.shift') }}">
    <label for="shift_x">x</label>
    <input name="shift_x" id="shift_x" value="0"/>
    <label for="shift_y">y</label>
    <input name="shift_y" id="shift_y" value="0"/>
    <button type="submit">shift</button>
  </form>
  <form method="post" action="{{ url_for('edit.rotate') }}">
    <label for="angle">angle</label>
    <input name="angle" id="angle" value="0"/>
    <button type="submit">rotate</button>
  </form>
  <form method="post" action="{{ url_for('edit.filters') }}">
    <input type="radio" name="filter" value="null" checked="checked"/>no filter<br/>
    <input type="radio" name="filter" value="sketch"/>sketch<br/>
    <input type="radio" name="filter" value="nostalgia"/>nostalgia<br/>
    <input type="radio" name="filter" value="halo"/>halo<br/>
    <input type="radio" name="filter" value="rising"/>流年<br/>
    <button type="submit">select filter</button>
  </form>
  <form method="get" action="{{ url_for('share.summary') }}">
    <button type="submit">continue</button>
  </form>
{% endblock body %}