{% extends 'base.html' %}
{% block navigation %}
  <li><a href="/">主页</a></li>
  <li><a class="active" href="{{ url_for('gallery') }}">画廊</a></li>
  <li><a href="{{ url_for('details') }}">实现细节</a></li>
  <li style="float:right"><a href="{{ url_for('about') }}">关于我</a></li>
{% endblock navigation %}
{% block body %}
  {% for img in images %}
    <div class="responsive">
      <div class="img">
        <a target="_blank" href="{{ img['link'] }}">
          <img src="{{ img['pre'] }}" width="128" height="128"/>
        </a>
        <div class="desc">{{ img['desc'] }}</div>
      </div>
    </div>
  {% endfor %}
{% endblock body %}