body {
  background-color: #b4a582;
  font-size: 100%;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px #66ccff;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
}
p {
  text-align: center;
  text-indent: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.875em;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: auto;
}
button {
  margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
.active {
  background-color: #4caf50;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #45a049;
}
div.anivatar {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}
.column {
  float: left;
  padding: 10px;
  width: 20%;
}
.side {
  float: left;
  padding: 10px;
  width: 25%;
}
.middle {
  float: left;
  padding: 10px;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 128px;
}
div.img:hover {
  border: 1px solid #777;
}
div.img img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}